* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, canvas {
	background-color: rgb(30, 65, 90);
}

canvas {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	filter: blur(1.5px);
}

.controls {
	position: absolute;
	color: white;
	padding: 5px;
	z-index: 1;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

svg {
	width: 0;
	height: 0;
	position: absolute;
	/*background-color: red;*/
}

#water {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 0;
	background-color: white;
	filter: url(#water_colour);
}

.config {
	position: absolute;
	color: white;
	padding: 5px;
	z-index: 1;
	top: 0;
	right: 0;
	text-align: center;
}

