*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, canvas {
	background-color: rgb(34, 179, 219);
	overflow: hidden;
}

canvas {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	filter: blur(1.5px);
}

.controls {
	position: absolute;
	color: white;
	padding: 5px;
	z-index: 1;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	display: none;
}

.config {
	position: absolute;
	color: white;
	padding: 5px;
	z-index: 1;
	top: 0;
	right: 0;
	text-align: center;
	display: none;
}

#surface {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#water {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: white;
	filter: url(#water_colour);
	/* display: none; */
}

#surface::before {
	content: "";
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: brightness(90%);
	pointer-events: none;
}

lily-pad {
	color: rgb(200, 250, 230);
	font-size: min(max(2vw, 0.65em), 1em);
	z-index: 10;
}

.lilypad__about {
	top: 10vh;
	left: 5vw;
	
	width: 175px;
	height: 175px;
}

.lilypad__projects {
	bottom: 10vh;
	right: 5vw;
	
	width: 200px;
	height: 200px;
}

#name-container {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	padding: 2.5vh 4vw;
	color: white;
	transition: background-color 0.25s ease;
}

#name-container::before, #name-container::after {
	content: "";
	position: absolute;
	height: 40%;
	width: 20%;
	transition: all 0.25s ease;
	border-radius: 5px;
}

#name-container::before {
	top: 0;
	right: 0;
	border-top: solid 3px white;
	border-right: solid 3px white;
	clip-path: polygon(0% 0%, 100% 100%, 100% 0);
}

#name-container::after {
	bottom: 0;
	left: 0;
	border-bottom: solid 3px white;
	border-left: solid 3px white;
	clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}

#name-container:hover {
	background-color: rgba(255, 255, 255, 0.3);
	transition: background-color 0.25s ease 0.25s;
}

#name-container:hover::before, #name-container:hover::after {
	width: 100%;
	height: 100%;
	clip-path: none;
}