*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, canvas {
	background-color: rgb(34, 179, 219);
	overflow: hidden;
}

// body::before {
// 	position: absolute;
// 	z-index: 10;
// 	content: "";
// 	top: 0;
// 	left: 0;
// 	min-height: 100%;
// 	min-width: 100%;
// 	background-color: red;
// }

canvas {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	filter: blur(2px);
}

.controls {
	position: absolute;
	color: white;
	padding: 5px;
	z-index: 10;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	display: block;
}

.config {
	position: absolute;
	color: white;
	padding: 5px;
	z-index: 10;
	top: 0;
	right: 0;
	text-align: center;
	display: block;

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

#water {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	filter: url(#water_colour);
}

.click-area {
	position: absolute;
  display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}